.circle {
    position: absolute;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    z-index: 11;
    box-sizing: border-box;
}
#circle1 {
    top: 0px;
    right: 0px;
    transform: translate(1.875rem, -1.875rem);
    background-color: rgb(39, 39, 42);
  }
  
  #circle2 {
    bottom: 0px;
    right: 0px;
    transform: translate(1.875rem, 1.875rem);
    background-color: rgb(2, 2, 3);
  }
  
  .img-wrapper-banner {
    flex: 2 0 0%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(rgb(39, 39, 42) 48.04%, rgb(0, 0, 0) 100%);
}