@import '../../../../styles/mixins.scss';

.main {
  position: relative;
  width: 95%;
  height: calc(100vh - 153px);
  overflow-y: auto;
  padding: 0px 0px;

  @include scrollbar();

  @include respond-below(md) {
    padding: 0px;
    padding-right: 43px;
    height: auto;
    overflow-y: visible;
  }

  .innerContainer {
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;

    @include respond-below(md) {
      padding: 0px;
      padding-right: 12px;
      max-width: 100%;
    }
  }
}

.footer {
  height: 100px;
  background-color: #ffffff;
}
